.promotions-container {
    display: flex;
    justify-content: space-around;
}

#loadingSearcher {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 90vh; 
    font-size: 1.5rem; 
    color: #555; 
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 150%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  