.form-container {
  min-width: 40%;
  max-width: 800px;
  width: 80%;
  margin: var(--spacing-xl) auto;
  padding: var(--spacing-lg);
  background: white;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
}

.form-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: var(--spacing-md);
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: var(--spacing-xs);
  font-weight: var(--font-weight-bold);
}

.form-input {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  transition: border-color var(--transition-fast);
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form-button {
  width: 100%;
  padding: var(--spacing-sm);
  background-color: var(--primary-color);
  color: black;
  border-radius: var(--border-radius-sm);
  font-weight: var(--font-weight-bold);
  transition: background-color var(--transition-fast);
}

.invisi-btn{
    background-color: var(--primary-color);
}

.form-button:hover {
  background-color: var(--secondary-color);
}

.form-error {
  color: var(--error-color);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xs);
}

.form-success {
  color: var(--success-color);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xs);
}

.form-control {
  width: 100%;
  padding: var(--spacing-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-base);
}

@media (max-width: 768px) {
  .form-container {
    width: 95%;
    margin: var(--spacing-md) auto;
  }
}
